<!DOCTYPE html>
<html ng-app="">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VOLEN STORE</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>

        <a href="/" class="title">VOLEN STORE</a>
        <input type="search" name="" id="" class="input-search" placeholder="Cari Sesuatu Disini">
        <button type="submit" class="input-submit">CARI</button> 
       
        
        <nav>
            <ul>
               
                <li><a href="index.html" class="not-main">HOME</a></li>
                <li><a href="payment.html" class="not-main">PAYMENT</a></li>
                <li><a href="#tentang">TENTANG</a></li>
                <li><a href="kontak.html">KONTAK</a></li>
            
            </ul>
        </nav>
    </header>
        <div class="container">
            <h1 style="margin:10px;">PAYMENT</h1>
            <form class="" action="index.html" method="post">
               <input required class="input-form laf" type="text" name="" value="" placeholder="Nama">
               <input required class="input-form laf" type="number" name="" value="" placeholder="08..">
               <input required class="input-form-number laf" type="number" name="" value="1" placeholder="Jumlah" ng-model="jumlah">
               <input required class="input-form-number laf" type="number" name="" value="20000" ng-model="harga">
               <input disabled required class="input-form-value" type="number" name="" value="{{jumlah*harga}}" placeholder="Hasil" ng-model="Hasil">
               <textarea class="input-form" cols="5" rows="5" name="comment" placeholder="Catatan" required></textarea>
               </textarea>
        <div style="overflow-x:auto;">
            <label>Pilih Metode Pembayaran</label>
            <table border=0 cellpadding="10">
                <tr>
                    <th><input type="checkbox"  value=""><img src="img/bni.png" width="60px" height="20px"></th>
                    <th><input type="checkbox"  value=""><img src="img/logo-bca.png" width="60px" height="20px"></th>
                    <th><input type="checkbox"  value=""><img src="img/bri.png" width="60px" height="25px"></th>
                    <th><input type="checkbox"  value=""><img src="img/bjb.png" width="60px" height="30px"></th>
                    <th><input type="checkbox"  value=""><img src="img/bankdki.png" width="60px" height="25px"></th>
                    <th><input type="checkbox"  value=""><img src="img/bankbb.png" width="60px" height="20px"></th>
                </tr>
                <tr>
                    <th><input type="checkbox"  value=""><img src="img/visa.png" width="60px" height="30px"></th>
                    <th><input type="checkbox"  value=""><img src="img/masterc.png" width="60px" height="30px"></th>
                    <th><input type="checkbox"  value=""><img src="img/paypal.png" width="60px" height="20px"></th>
                    <th><input type="checkbox"  value=""><img src="img/alfa.jpg" width="70px" height="50px"></th>
                    <th><input type="checkbox"  value=""><img src="img/indomaret.png" width="60px" height="20px"></th>
                    <th><input type="checkbox"  value=""><img src="img/gopay.jpg" width="65px" height="40px"></th>
                </tr>
            </table>
        </div>
            <button class="btn-form-pay">Pay</button>
            <button class="btn-form-change" id="myBtn">Batal</button>
      </form>
      </div>
  </body>
</html>