:root
{
    --blue : #170262;
    --dark-blue : #160f31;
    --green : #00eb09;
    --white : #fff;
}

*
{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    font-family: 'Tahoma';
}

body
{
    background-color: rgb(11, 53, 78);
    color: black;

    
    margin: 0;
    color: gray;
    font-family: calibri;
    

    
}

header
{
    align-items: center;
    background-color:rgb(27, 66, 130);   
    text-align: center;
    position: fixed;
    width: 100%;
    font-weight: bold;
    padding: 2%;
    top: 0;
}

.title
{
    color: black;
    border-bottom: 1px solid black;
}

.title-d
{
     color: rgb(123, 0, 139);
}

.input-search
{
    width: 30%;
    border: none;
    border-radius: 0 0 0 20px;
    padding: 2px;
}

.input-submit
{
    margin-left: -5px;
    border: none;
    border-radius: 0 20px 0 0;
    padding: 2px;
    background-color: green;
    color: var(--blue);
    width: 5%;
    font-weight: bold;
}



nav
{
    margin: 15px;
  
}

nav ul
{
    display: flex;
    gap: 20px;
    justify-content: center;
   
}

nav ul li a
{
    color: darkmagenta;
}

nav ul li a:hover
{
    border-bottom: 3px solid black;
}

.slider
{
    margin-top: 10%;
    display: block;
    margin-left: auto !important;
    margin-right: auto !important;
    width: 40%;
}

.slider h4
{
    margin-top: 20%;
}

.slides
{
    display: flex;
    width: 40rem;
    overflow: hidden;
}

.slides img 
{
    border-radius: 10px;
}

.slide
{
    width: 40rem;
    transition: .5s;
}

.choose_1:checked ~ .slides > .s1
{
    margin-left: -0rem;
}

.choose_2:checked ~ .slides > .s1
{
    margin-left: -40rem;
}

.overlay 
{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay:target 
{
    visibility: visible;
    opacity: 1;
}

.popup 
{
    margin: 70px auto;
    padding: 20px;
    background: var(--dark-blue);
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
}
  
.popup h2 {
    margin-top: 0;
    color: var(--white);
    font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.popup .close:hover 
{
    color: #06D85F;
}

.content 
{
    max-height: 30%;
    width: 50%;
}

.title-p
{
    margin-top: 5%;
    margin-left: 100px;
}



.bangbang
{
    display: grid;
    margin-bottom: 5%;
    
    margin-left: 42%;
    
    
}

.bangbang img
{
    border-radius: 25px;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
  
   
    
}

.harga
{
    color: rgb(109, 2, 216);
}

.link a
{
    color: var(--white);
}

.link a:hover
{
    color: black;
}

.pesan
{
    background-color: var(--green);
    padding: 5%;
    border-radius: 10px;
}

.pesan:hover
{
    background-color: black;
    padding: 5%;
    border-radius: 10px;
}

.pesan img
{
    width: 30px;
}


.tentang
{
    display: grid;
    justify-content: center;
    margin-top: 10%;
    font-size: 15pt;
}
 
.card
{
    background-color: yellow;
    padding: 5%;
    border-radius: 10px;
    box-shadow: 20px 20px black;
}
 
.card h1
{
    text-align: center;
}
 
html
{
    scroll-behavior: smooth;
}
 
 
article
{
    display: grid;
    justify-content: center;
    margin-top: 10%;
    padding: 2%;
}
 
.sosmed img 
{
    width: 50px;
}
 
#copyright
{
    text-align: center;
    padding: 10px;
}








  input:invalid{
    background: pink;
  }
  .container{
    background: white;
    width:40%;
    height:auto;
    padding:15px;
    position: absolute;
    left:30%;
    top:1%;
    border-radius: 5px;
    margin-top: 10%;
   
    
  }
  .input-form{
    width:95%;
    background:#F9F9F9;
    margin:0.9%;
    padding:10px;
    border: none;
    border-radius: 5px;
    
  }
  .input-form-number{
    width:12%;
    background:#F9F9F9;
    margin:1%;
    padding:10px;
    border: none;
    border-radius: 5px;
  }
  .input-form-value{
    width:57.5%;
    background:#F9F9F9;
    margin:1%;
    padding:10px;
    border: none;
    border-radius: 5px;
  }
  .btn-form-change{
    color:white;
    background: #ff6868;
    font-weight: bold;
    border:none;
    border-radius:50px;
    padding:15px;
    margin:10px;
    width: 35%;
    float:left;
    margin-left: 20px;
    cursor: pointer;
  }
  .btn-form-pay{
    color:white;
    background: #68a2ff;
    font-weight: bold;
    border:none;
    border-radius:50px;
    padding:15px;
    margin:10px;
    width: 35%;
    float:right;
    cursor: pointer;
  }
  .btn-form-pay:hover{
    background:#66bef9;
  }
  .btn-form-change:hover{
    background: #fc7979;
  }
  table {
      margin-top: 5px;
      border-collapse: collapse;
      width: 100%;
      border: 1px solid #ddd;
  }
  
  th, td {
      background: white;
  }
  
  th:hover {
    box-shadow:2px 0px 10px 0px #F4F4F4;
    border: 1px solid #68a2ff;
  }
  th{
    border: 1px solid #F4F4F4;
  }
  @media only screen and (max-width: 700px) {
      .container{
        width:80%;
        left:6%;
      }
      .input-form-value{
        width:49%;
      }
  }
  
  footer{
    background: white;
    width:100%;
    height:40px;
    position: absolute;
    bottom:0;
  }

  




  
  .container {
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
   
}

.card-container {
    display: flex;
}

.left {
    flex: 1;
    height: 480px;
    background-color: #d2ce56;
}

.right {
    display: flex;
    flex: 1;
    height: 460px;
    background-color: #ffffff;
    justify-content: center;
    align-items: center;
}

.left {
    display: flex;
    flex: 1;
    height: 522px;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}


.left-container {
    height: 50%;
    width: 80%;
    text-align: center;
    line-height: 22px
}

.left p {
    font-size: 0.9rem;
}

h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.right-container {
    width: 70%;
    height: 80%;
    text-align: center;
}

input,
textarea {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
    font-size: 0.8rem;
}

input:focus,
textarea:focus {
    outline: 1px solid #eff15e;
}

button {
    border-radius: 20px;
    border: 1px solid #ffff38;
    background-color: #efe74d;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-out;
    cursor: pointer;
}

button:hover {
    opacity: 0.7;
}

textarea {
    height: 90px;
}


@media only screen and (max-width: 600px){
    .left {
        display: none;
    }

    .lg-view {
        display: none;
    }
}

@media only screen and (min-width: 600px) {
    .sm-view {
        display: none;
    }
}